.appointments {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  gap: 16px;
  margin-bottom: 27px;
}

.appointment {
  border-radius: 16px;
  padding: 16px;
  min-width: 180px;
}

.appointment.primary {
 background: linear-gradient(145deg, #4338ca, #3730a3);
  color: white;
}
.time-up{
  color: white;
      font-size: 12px;
    opacity: 0.9;
    margin-bottom: 5px;
}

.appointment.secondary {
  background-color: #e4e7fd;
  color: #3730a3;
  font-weight: 600;
}

.appointment-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.time {
  font-size: 12px;
  opacity: 0.9;
  margin-bottom: 5px;
  font-weight: 500;
}

.doctor {
  font-size: 12px;
  opacity: 0.75;
  color: #eef2ff;
}

.docto {
  font-size: 12px;
  opacity: 0.75;
  color: #3730a3;
  font-weight: 500;
}
@media (max-width: 1023px) {
  .appointments {
    margin-bottom: 20px;
  }
  
  .appointment {
    padding: 12px;
  }
}

@media (max-width: 767px) {
  .appointments {
    grid-template-columns: 1fr;
    gap: 12px;
    margin-bottom: 16px;
  }
  
  .appointment {
    min-width: auto;
  }
}